
body{
    text-align: center;
}

#gamePage{
    display: none;
}

#homePage{
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
}

#gameMessage{
    margin: 5px;
}

#gameBoard{
    background-color: #EFF407;
    display: inline-block;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#random{
    margin-top:30px;
}

#gameBoard.dark{
    background-color: #444;
}

#gameBoard.other{
    background-color: #189AD3;
}

.gamecol{
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
}

.gamecol.empty{
    cursor: pointer;
}

.dark > .gamerow > .empty{
    background-color: #777;
}

.next-turn{
    background-color: black;
    opacity: .1;
}

.gamecol.P1{
    background-color: #F4074E;
}

.gamecol.P2{
    background-color: #4F6CC4;
}

.dark > .gamerow > .P1{
    background-color: #fff;
}

.dark > .gamerow > .P2{
    background-color: #000;
}
.dark > .gamerow > .next-turn{
    background-color: #07F434;
    opacity: .3;
}

.other > .gamerow > .P1{
    background-color: #71C7EC;
}

.other > .gamerow > .P2{
    background-color: #005073;
}
.section{
    border: black;
    border-width: 2px;
}

input[type="text"] {
    background-color: #FFF;
    width: 75%;
    font-size: 4vh;
    text-align: center;
}

input[type="submit"] {
    width: 75%;
    font-size: 2vh;
    margin-top: 10px;
}
h4{
    font-weight: normal;
}



#gameMessage{
    font-size: 2vh;
}

#turnMessage{
    font-size: 2vh;
}

